---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "What it can do" }}</h3>
<body>
	<img src="./main.png" alt="My Image" width="500">
	<img src="./main (1).png" alt="My Image" width="500">
	<img src="./main (2).png" alt="My Image" width="500">
	<img src="./main (3).png" alt="My Image" width="500">
	<img src="./main (4).png" alt="My Image" width="500">
	<img src="./main (5).png" alt="My Image" width="500">
	<a href="https://assistant.google.com/services/a/uid/00000086a4223123?hl=ko"><img src="./link.png" alt="My Image" width="500"></a><br>
	<center><a href="http://www.facebook.com/sharer/sharer.php?u=https://classic-mate.github.io/"><img src="/assets/images/facebook.png" alt="My Image" width="100"></a></center>
	<center><a href="https://twitter.com/intent/tweet?text=TEXT&url=classic-mate.github.io/"><img src="/assets/images/twitter.png" alt="My Image" width="100"></a></center>
</body>
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
